<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellcome login!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js"
        integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        img {
            object-fit: contain;
            max-width: 100%;
        }

        .primary-image {
            height: 300px;
        }

        .images {
            height: 150px;
        }
    </style>
</head>

<body>
    <div id="products">
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th width="150">產品名稱</th>
                        <th width="120">
                            原價
                        </th>
                        <th width="120">
                            售價
                        </th>
                        <th width="150">
                            上架
                        </th>
                        <th width="120">
                            細項
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in productsCollects" :key="item.id">
                        <td width="150">{{ item.title }}</td>
                        <td width="120">
                            {{ item.origin_price }}
                        </td>
                        <td width="120">
                            {{ item.price }}
                        </td>
                        <td width="150">
                            <span v-if="item.is_enabled" class="text-success">啟用</span>
                            <span v-else>未啟用</span>
                        </td>
                        <td width="120">
                            <button type="button" class="btn btn-primary" v-on:click="showProducts = item">查看細節</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>目前有 <span>{{ productsCollects.length }}</span> 項產品</p>
            <div class="col-">
                <h2>產品細項</h2>
                <!-- 這裡是對應 button 的 onClick 事件 決定顯示的樣版範圍 -->
                <div v-if="showProducts.title" class="shadow-lg">
                    <div class="card mb-3">
                        <img :src="showProducts.imageUrl" class="card-img-top primary-image" alt="主圖">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{showProducts.title }}
                                <span class="badge bg-primary ms-2">{{ showProducts.category }}</span>
                            </h5>
                            <p class="card-text">商品描述：{{ showProducts.description }}</p>
                            <p class="card-text">商品內容：{{ showProducts.content }}</p>
                            <div class="d-flex">
                                <p class="card-text me-2">{{ showProducts.price }}</p>
                                <p class="card-text text-secondary"><del>{{ showProducts.origin_price }}</del></p>
                                元 / {{ showProducts.unit }}
                            </div>
                            <div class="d-flex justify-content-center mt-2">
                                <button type="button" class="btn btn-warning px-5">下單</button>
                            </div>
                        </div>
                    </div>
                    <!-- 這裡是 該物件資料下 有多個商品圖片 用陣列的方式儲存，所以可以使用 v-for 來處理與渲染該資料 -->
                    <span v-for="(image, id) in showProducts.imagesUrl" :key="id">
                        <img v-if="image" :src="image" class="images m-2">
                    </span>
                    </D>
                    <p class="text-secondary mx-2">請選擇一個商品查看</p>
                </div>
            </div>
        </div>
    </div>

    <script type="module">
        import { createApp } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.5/vue.esm-browser.min.js';

        import { url, path } from './index.js';

        function getCookie(name) {
            const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
            return cookieValue ? cookieValue.pop() : '';
        }
        const token = getCookie('berlinToken');

        if (!token) {
            window.location.href = './index.html';
        }

        const products = createApp({
            data() {
                return {
                    productsCollects: [],
                    showProducts: []
                }
            },
            created() {
                this.getProducts();

            },
            methods: {
                getProducts() {
                    axios.defaults.headers.common['Authorization'] = token;
                    axios.get(`${url}v2/api/${path}admin/products/all`)
                        .then((res) => {
                            this.productsCollects = Object.values(res.data.products);
                        }).catch((err) => {
                            console.log('productsToken', token);
                            console.log(err.response);
                        })
                }
            }
        }).mount('#products');
    </script>
</body>

</html>